<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <link rel="shortcut icon" href="../../static/favicon.ico" type="image/x-icon">
    <meta http-equiv='pragma' content='no-cache'>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet"   />
    <title>Forecasting For Products according to category</title>
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.4/dist/flowbite.min.css" />
    <script src="https://unpkg.com/flowbite@1.5.4/dist/flowbite.js"></script>


</head>
<body>
  <div class="min-h-screen bg-gray-100">
    <main>
      <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8 ">
        <h3 class="text-3xl font-bold leading-6 text-gray-900">
          Selected Category is Time Series which don't have period time difference!
          <br> <br> Go back to the main screen and select other category to visualize.
        </h3>
      </div>
      <!-- /End replace -->
    </main>
  </div>    
</body>

</html>
